* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	min-height: 100vh;
	flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	background-color: #fafafa;
}

.nav {
	height: 34px;
	font-size: 14px;
	line-height: 30px;
	background-color: rgba(0, 0, 0, 0.43);
	padding-left: 20px;
	position: absolute;
	width: 100%;
	z-index: 2;
}

.nav li {
	display: inline-block;
}

.nav a {
	display: block;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
	color: #fafafa;
}

.nav a:hover, .nav a:focus, .nav a:active  {
	color: #eeeeee;
	background-color: #03a9f4;
}

.basic-info {
	width: 100%;
	height: 254px;
	padding: 0 40px;
	box-sizing: border-box;
	background-color: #3c3c3c;
	align-items: stretch;
	position: relative;
	overflow: hidden;
}

.basic-info .img-logo {
	height: 120px;
	background-repeat: no-repeat;
	width: 120px;
	background-position: center;
	background-color: #ffffff;
	background-image: url(../img/logo.png);
	border-radius: 50%;
	background-size: contain;
	border: 6px solid rgb(199, 199, 199);
	display: inline-block;
	vertical-align: top;
	margin: 30px 64px;
}

.basic-info .profile {
	font-size: 18px;
	padding: 0 50px;
	text-align: left;
	color: #949494;
	//
	background-color: #b3e5fc;
	display: inline-block;
	vertical-align: top;
	margin: 40px -62px;
	line-height: 31px;
}

.basic-info .intro {
	overflow: hidden;
	text-overflow:ellipsis;
	//
	white-space: nowrap;
	height: 150px;
	/* background-color: rgba(255, 255, 255, 0.55); */
	display: inline-block;
	width: 641px;
	vertical-align: top;
	margin: 22px 92px;
	border: 1px solid #6b6b6b;
	color: #dcdcdc;
	border-radius: 4px;
}

.profile .team {
	font-size: 18px;
	font-weight: normal;
}

.profile a {
	text-decoration: none;
	color: #fefefe;
}

.profile a:hover, .profile a:focus, .profile a:active {
	color: #eeeeee;
}

.intro .intro-wording{
	padding: 30px 50px;
	line-height: 25px;
}


.works {
	flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	padding: 50px 0;
}

.works .wrap {
}

.worksList li {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 6px;
	vertical-align: top;
	background-color: #fafafa;
	border: 1px solid #e2e2e2;
	/* border-radius: 2px; */
	margin: 10px 12px;
	transition: all ease-out 0.3s;
}

.work .pic {
	width: 250px;
	height: 153px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #ffffff;
	background-image: url(../img/work.jpg);
	background-size: cover;
}

.work .name {
	font-size: 14px;
	text-align: center;
	line-height: 24px;
	background-color: rgba(0, 0, 0, 0.49);
	padding: 5px 0;
	color: #ffffff;
	margin-top: -31px;
}

.works a {
	display: block;
	text-decoration: none;
	color: #000000;
}

.works a:hover, .works a:focus, .works a:active  {
}


footer {
	width: 100%;
	height: 53px;
	background-color: #263238;
	color: #ffffff;
	text-align: center;
}



.vertical-center {
}


.z-index-1 {
    /* box-shadow: 0 1px 1.5px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24); */
}
.z-index-2 {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16), 0 3px 3px 0 rgba(0,0,0,0.23);
}
.z-index-3 {
    box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 3px rgba(0,0,0,0.23);
}
.z-index-4 {
    box-shadow: 0 14px 14px rgba(0,0,0,0.25), 0 10px 5px rgba(0,0,0,0.22);
}
.z-index-5 {
    box-shadow: 0 19px 19px rgba(0,0,0,0.30), 0 15px 6px rgba(0,0,0,0.22);
}

.wrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

p {
    font-size: 14px;
}

.works h2 {
    font-weight: normal;
    font-size: 18px;
    margin-left: 14px;
    margin-bottom: 9px;
}

h2 {}

.avatar {
    background: url(https://avatars3.githubusercontent.com/u/153778?v=3&s=460);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.members li {
    width: 70px;
    height: 70px;
    display: inline-block;
    /* border: 1px solid #ccc; */
    border-radius: 50%;
    margin-right: 12px;
}

ul.members {
    margin-bottom: 31px;
    margin-left: 18px;
    margin-top: 17px;
}

.members img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

span.icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    margin-right: 5px;
    background-size: 100%;
    margin-top: -5px;
}

span.icon.group {
    background-image: url(../img/group.png);
}

span.icon.draft {
    background-image: url(../img/draft.png);
}

p.vertical-center {
    margin-top: 21px;
}

.basic-info:before {
    content: '';
    background: url(../img/banner1.jpg);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(6px);
}

.basic-info > .wrap {
    margin-top: 47px;
}

.worksList li:hover {
    box-shadow: -2px 4px 7px 0px rgba(0, 0, 0, 0.25);
}